# SQL

In [ ]:
Given Problem:

X city opened a new cinema, many people would like to go to this cinema. 
The cinema also gives out a poster indicating the moviesâ€™ ratings and descriptions.
Please write a SQL query to output movies with an odd numbered ID and 
a description that is not 'boring'. Order the result by rating.

For example, table cinema:

+---------+-----------+--------------+-----------+
|   id    | movie     |  description |  rating   |
+---------+-----------+--------------+-----------+
|   1     | War       |   great 3D   |   8.9     |
|   2     | Science   |   fiction    |   8.5     |
|   3     | irish     |   boring     |   6.2     |
|   4     | Ice song  |   Fantacy    |   8.6     |
|   5     | House card|   Interesting|   9.1     |
+---------+-----------+--------------+-----------+
For the example above, the output should be:
+---------+-----------+--------------+-----------+
|   id    | movie     |  description |  rating   |
+---------+-----------+--------------+-----------+
|   5     | House card|   Interesting|   9.1     |
|   1     | War       |   great 3D   |   8.9     |
+---------+-----------+--------------+-----------+

In [ ]:
# One Way: Using != Operator

# Runtime: 241 ms
# Memory Usage: 0B

SELECT * FROM CINEMA WHERE (id % 2 != 0) AND (description != "boring") ORDER BY rating DESC

In [ ]:
# Other Way: Using <> Not operator

# Runtime: 335 ms
# Memory Usage: 0B

SELECT * FROM cinema WHERE (id % 2 = 1) AND (description <> 'boring') ORDER BY rating DESC

In [ ]:
# Other way round: [FASTEST ABOVE ALL]
# Using 'NOT IN Operator', and assigning 'Cinema as C'

# Runtime: 160 ms
# Memory Usage: 0B

SELECT * FROM CINEMA C WHERE C.id  mod 2 = 1 AND C.description NOT IN ('boring') ORDER BY C.rating DESC